<div class="login-wrapper">
    <div class="tag"></div>
    <h1 id="signinTitle"><%= signinTitle %></h1>

    <form id="login-form" method="post">
        <div class="control-group">
            <div class="controls login-user-control">
                <input type="text" id="inputUsername" placeholder="Username" autocorrect="off"
                       autocapitalize="off"><input type="password" id="inputPassword" placeholder="Password"
                                                   autocorrect="off" autocapitalize="off">
                <button type="submit" class="button button-yellow" id="signInButton"><%= signin %></button>
            </div>
        </div>
    </form>
    <h1 id="registerTitle"><%= registerTitle %></h1>
    <button type="register" class="button button-yellow" id="registerButton"><%= register %></button>
    <h4 id="forgotPassword"><%= forgotPw %></h4> ·
    <h4 id="forgotUsername"><%= forgotUn %></h4>
</div>
