<div class="ui-navbar">
    <div class="navbar-title">SMILE</div>
    <a class="<% if (backbutton) { %>backbutton<% } else { %>navbar-menu<% } %>"<% if (backbutton) { %> href="<%- back_href %>"<% } %>><%
        if (backbutton) { %>
    <div class="backbutton-left"></div>
    <div class="backbutton-mid"><%= back_text %></div>
    <div class="backbutton-right"></div><% }
    %>
    </a>
    <a class="navbar-settings"></a>
</div>