<div class="doc-content-box">
<!-- Class Overview -->
<div class="page-header">
    <h2>/institution</h2>
</div>

<p>Users and groups can be associated with a institutions. In {institution}, institution is an Institution's UUID.</p><!-- /Class Overview -->

<!-- table Class Summary -->
<h3>Schema</h3>
<table class="table table-bordered ">
    <thead>
    </thead>
    <tbody>
    <tr id="class-summary">
        <td>
                <pre class="prettyprint linenums">
Institution {
    UUID: "12341234",
    name: "Stanford University",
    institutionType: "University"
    country: "United States",
    region: "California",
    city: "Stanford",
    address: "520 Galvez Mall",
    zip: "94305",
    creator: "asf8h22hnoejnf298hn0o23",
    createdOn: [2009, 1, 31, 18, 4, 11],
    website: "www.stanford.edu",
    photoUrl: "/photos/user/as3gf2eg24g24g.png"
}
                </pre>
        </td>
    </tr>
    </tbody>
</table>
<!-- /table Class Summary -->


<!-- table Property Summary -->
<h3>Property Summary</h3>
<table id="property-summary" class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Parameter</b>

            <p class="smallFont">( * = required input when creating new object)</p></td>
        <td><b>Type</b></td>
        <td><b>Default</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr>
        <td><span class="property-name">UUID</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUIDs (universally unique identifiers) are automatically generated when an object is created. They cannot be modified.
        </td>
    </tr>
    <tr>
        <td>*<span class="property-name">name</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The name of the institution.</td>
    </tr>
    <tr>
        <td><span class="property-name">institutionType</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">The user-specified type of the institution.</td>
    </tr>
    <tr>
        <td><span class="property-name">country</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Country that user designates.</td>
    </tr>
    <tr>
        <td><span class="property-name">region</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Region that user designates.</td>
    </tr>
    <tr>
        <td><span class="property-name">city</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">City that user designates.</td>
    </tr>
    <tr>
        <td><span class="property-name">address</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Institution address.</td>
    </tr>
    <tr>
        <td><span class="property-name">zip</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Institution zip code.</td>
    </tr>
    <tr>
        <td><span class="property-name">creator</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">UUID of user who created the Institution.</td>
    </tr>
    <tr>
        <td><span class="property-name">createdOn</span></td>
        <td class="type-value">Array[integer]</td>
        <td class="default-value"> -</td>
        <td class="class-desc">An array of integers in the format [year, month, day, hours (24-hour), minutes, seconds]. Created by server.
        </td>
    </tr>
    <tr>
        <td><span class="property-name">website</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">Institution website.</td>
    </tr>
    <tr>
        <td><span class="property-name">photoUrl</span></td>
        <td class="type-value">string</td>
        <td class="default-value"> -</td>
        <td class="class-desc">URL for institution photo.</td>
    </tr>
    </tbody>
</table>
<!-- /table Property Summary -->

<!-- table Method Summary -->
<h3>Method Summary</h3>
<table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
    <tr>
        <td><b>Method</b></td>
        <td><b>Description</b></td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /institution</td>
        <td class="method-desc">Creates an institution object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name put"><span class="method-type">PUT</span> /institution/{institution}</td>
        <td class="method-desc">Updates given institituion.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name delete"><span class="method-type">DELETE</span> /institution/{institution}</td>
        <td class="method-desc">Deletes an institution object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /institution/{institution}</td>
        <td class="method-desc">Fetches an institution object.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /institution/getByName/{name}</td>
        <td class="method-desc">Fetches an institution object by name.</td>
    </tr>
    <tr class="method-summary">
        <td class="method-name post"><span class="method-type">POST</span> /institution/getNamesFromUUID/</td>
        <td class="method-desc">Accepts an array of UUID strings, and returns an array of corresponding objects with
            UUIDs and institution names.
        </td>
    </tr>
    <tr class="method-summary">
        <td class="method-name get"><span class="method-type">GET</span> /institution/nameAutoFill/</td>
        <td class="method-desc">Returns all institution names (or objects) that match the input text.</td>
    </tr>
    </tbody>
</table>
<!-- /table Method Summary -->

<!-- detail-box Method Detail -->
<div class="detail-box">
    <div class="page-header">
        <a title="jump to method summary" href="#method-set" class="scroll pull-right">
            <span class="label label-info"><b class="icon-white icon-arrow-up"></b></span>
        </a>

        <h3 id="method-desc-set">Method Detail</h3>
    </div>

<!--Begin Method Details: POST /institution -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /institution</p>

    <p class="det">Creates an institution object. Any fields that are in the schema but not in the request schema cannot be added (such as creator). Any additional fields not in the schema will be added. Requires authentication.</p><p>Institution names must be unique.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    *name: "Stanford University",
    institutionType: "University"
    country: "United States",
    region: "California",
    city: "Stanford",
    address: "50 Galvez Mall",
    zip: 94305,
    website: "www.stanford.edu",
    photo: [binary data]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    UUID: "asefew24fwASDF",
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">1</td>
            <td class="error-msg">Missing required fields in request: [username]</td>
            <td class="error-desc">The request is missing one or more required fields.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot create an Institution without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">12</td>
            <td class="error-msg">Institution name already exists: [name]</td>
            <td class="error-desc">Institution names must be unique.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /institution-->
    <div class="page-header"></div>
<!--Begin Method Details: PUT /institution/{institution} -->
    <p class="lead class-name method-name put"><span class="method-type">PUT</span> /institution/{institution}</p>

    <p class="det">Updates institution.</p><p>Requires authentication.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    *name: "Stanford University",
    institutionType: "University"
    country: "United States",
    region: "California",
    city: "Stanford",
    address: "50 Galvez Mall",
    zip: 94305,
    website: "www.stanford.edu",
    photo: [binary data]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">2</td>
            <td class="error-msg">Input validation error: [username]</td>
            <td class="error-desc">One or more of the inputs did not meet validation requirements.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot update an Institution without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">12</td>
            <td class="error-msg">Institution name already exists: [name]</td>
            <td class="error-desc">Institution names must be unique.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Institution found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: PUT /institution/{institution} -->
    <div class="page-header"></div>
<!--Begin Method Details: DELETE /institution/{institution} -->
    <p class="lead class-name method-name delete"><span class="method-type">DELETE</span> /institution/{institution}</p>

    <p class="det">Deletes given institution. Only an institution's creator or an admin user can delete an institution.</p>
    <p>Request Schema: <b><i>none</i></b></p>
    Response Schema
         <pre class="prettyprint linenums">
{
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">401</td>
            <td class="smile-code">7</td>
            <td class="error-msg">Admin authorization required to call this function.</td>
            <td class="error-desc">Admin authorization required to delete an institution created by a different user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot delete an Institution without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Institution found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: DELETE /institution/{institution}-->
    <div class="page-header"></div>
<!--Begin Method Details: GET /institution/{institution} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /institution/{institution}</p>

    <p class="det">Returns institution object. You must be authenticated (logged in) to call this function. If the optional onlyFields parameter is passed, then only specified fields are returned. All fields are returned (including custom added fields not present in the Institution schema), except for photo.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "country", "region"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    institution: {
        //All institution fields are returned except for photo.
        //Properties added that are not on the Institution schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request Institution details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">13</td>
            <td class="error-msg">No [object] found with UUID: [UUID].</td>
            <td class="error-desc">No Institution found with specified UUID.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /institution/{institution} -->
    <div class="page-header"></div>
<!--Begin Method Details: GET /institution/getByName/{name} -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /institution/getByName/{name}</p>

    <p class="det">Returns institution object. You must be authenticated (logged in) to call this function. If the optional onlyFields parameter is passed, then only specified fields are returned. All fields are returned (including custom added fields not present in the Institution schema), except for photo.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    (optional) "onlyFields": ["name", "country", "region"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    institution: {
        //All user fields are returned except for password.
        //Properties added that are not on the Institution schema are returned as well.
    },
    success: true,
    [error]: { code: 1, msg: "error message" }
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request User details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">404</td>
            <td class="smile-code">14</td>
            <td class="error-msg">No [object] found with [var]: [values].</td>
            <td class="error-desc">No Institution found with specified name.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /institution/getByName/{name} -->
    <div class="page-header"></div>
<!--Begin Method Details: POST /institution/getNamesFromUUID -->
    <p class="lead class-name method-name post"><span class="method-type">POST</span> /institution/getNamesFromUUID</p>

    <p class="det">Returns names from UUIDs. Requires authentication.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    UUIDs: ["12349109091234jj3f3", "1234123nf4jj11233", "q234nvn2349nnv4"]
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    users: [
        { name: "Harvard University", UUID: "12349109091234jj3f3" },
        { name: "Princeton University", UUID: "q234nvn2349nnv4" }
    ]
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request User details without being logged in as a SMILE user.</td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">400</td>
            <td class="smile-code">15</td>
            <td class="error-msg">Institution(s) not found with UUID(s): [UUID, UUID]</td>
            <td class="error-desc">One or more of the UUIDs did not match corresponing Institution objects in database.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: POST /institution/getNamesFromUUID -->

    <div class="page-header"></div>
<!--Begin Method Details: GET /institution/nameAutoFill -->
    <p class="lead class-name method-name get"><span class="method-type">GET</span> /institution/nameAutoFill</p>

    <p class="det">Returns list of institution matches by name. Requires authentication.</p>
    Request Schema
         <pre class="prettyprint linenums">
{
    name: "sta"
}</pre>
    Response Schema
         <pre class="prettyprint linenums">
{
    matches: [
        { name: "Standard Western University", UUID: "sadfkn29j92efhh9" },
        { name: "Stanford University", UUID: "asdf392jiemf2" },
        { name: "Station for Oceanic Research", UUID: "jo94jnsejhf2nn" },
    ]
}</pre>
    Error Codes
    <table class="table table-bordered">
        <thead>
        </thead>
        <tbody>
        <tr>
            <td><b>HTTP Status Code</b></td>
            <td><b>SMILE Error Code</b></td>
            <td><b>Error message</b></td>
            <td><b>Reason</b></td>
        </tr>
        <tr class="error-summary">
            <td class="error-code">403</td>
            <td class="smile-code">8</td>
            <td class="error-msg">Authorization is required. You must be logged in as a SMILE user to call this function.</td>
            <td class="error-desc">You cannot request User details without being logged in as a SMILE user.</td>
        </tr>
        </tbody>
    </table>
<!--End Method Details: GET /institution/nameAutoFill -->

</div> <!--/.detail-box Method Detail-->


<!-- pagination -->
<div class="page-nav">
    <ul class="pager">
        <li class="previous">
            <a href="#">&larr; Prev Class</a>
        </li>
        <li class="next">
            <a href="#">Next Class &rarr;</a>
        </li>
    </ul>
</div>
<!-- /pagination -->


<div class="shadow-right"></div>
<!-- shadow doc-content-box -->
</div><!--/.doc-content-box -->