<!--navbar -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#main"><div class="smileLogo"></div><span>  Global API - 2.0</span></a>
            <div class="nav-collapse collapse">
                <ul class="nav pull-right">
                    <li class="nav-main"><a href="#main">Index</a></li>
                    <li class="nav-tree"><a href="#tree">Tree</a></li>
                    <li class="nav-help"><a href="#help">Help</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div><!--/.navbar -->